# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{md,yml,yaml,json,html,css,js}]
indent_size = 2

[*.tex]
indent_size = 2
trim_trailing_whitespace = false  # latex sometimes uses trailing space for line breaks

[Makefile]
indent_style = tab
